html{
  font-size: 50px;
}

body{
  background-color: white;
  margin: 0;
  font-family: sans-serif;
  color: gre;
}

.container{
width: 100%;
margin: 3.2rem auto 0 auto;
}

@media(min-width: 576px){
.container{
  max-width: 540px;
}
}

@media(min-width: 768px){
.container{
  max-width: 720px
}
}

header{
  text-align: center;
  margin-bottom: 1.5rem;
}

h1, h2{
font-weight: 400;
text-align: center;
}

#survey-form{
  margin: 0 auto; 
  background: white;
  /* background: white; */
  padding: 2.3rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 50px;
  width: 70%;
}

.form-input{
  margin: 0 2.5rem 1.2rem 2rem;
  background: blue;
  font-size: 50px;
}

p{
  margin: 0 auto; 
  width: 70%;
  font-size: 50px;
}
 
#radio-btn,
#radio,
#check-box {
  margin-right: 0.5rem;
  min-height: 1.2rem;
  min-width: 1.2rem;
}
 
label {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

label [for="products"]{
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

 #submit{
  width: 100%;
  padding: 0.8rem;
  background:orange;
  color: black;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
  font-size: 50px;
 }


input[type=checkbox] {
  zoom: 2.5;
}

#terms{
  font-style: italic;
  margin: 0 auto; 
}